/*fonts*/
@font-face {
    font-family: caviar;
    src: url('./assets/Caviar_Dreams_Bold.ttf');
}

@font-face {
    font-family: josefin;
    src: url('./assets/JosefinSlab-Regular.ttf');
}

@font-face {
    font-family: questrial;
    src: url('./assets/Questrial-Regular.otf');
}
.App{
  padding: 20px 5% 50px 5%;
  background-image: url("./assets/background.jpg");
}
.App .firstContainer {
  background-color: #cccccc;
  padding: 30px;
  margin: 20px;
  display: flex;
  border-radius: 1vw;
  box-shadow: 1px 1px 1px 1px black;
}
.App div h1{
  font-size: 15px;
  font-family: josefin;
}
.App div h6{
  font-family: caviar;
  font-size: 25px;
  margin: 10px 0 10px 0;
}

#header{
  text-align:center;
  font-size: 3vw;
  font-family: questrial;
  color: white;
}
#btnSubmit{
  display: flex;
  justify-content: center;
}
#btnSubmit button{
  height: 80px;
  font-size: 25px;
  background-color: white;
  cursor: pointer;
  border: 0px solid black;
  color: black;
  border-radius: 1vw;
  box-shadow: 7px 8px 5px black;
}
svg{
  width: 20vw;
  flex: 1;
}
.firstContainer div{
  flex: 1;
}
.vehiclesPerDay div, .vehiclesNum div{
  display: flex;
}
.vehiclesPerDay h1, .vehiclesNum h1{
  flex: 1;
  padding-left: 5vw;
  font-size: 20px !important;
}
.vehiclesPerDay h6, .vehiclesNum h6{
  flex: 1;
}

.vehiclesPerDay select, .vehiclesNum select{
  flex: 1;
  background-color: white;
  box-shadow: 1px 1px 1px 1px black;
  padding: 10px;
}
