/*fonts*/
@font-face {
    font-family: caviar;
    src: url(Caviar_Dreams_Bold.ttf);
}

@font-face {
    font-family: josefin;
    src: url(JosefinSlab-Regular.ttf);
}

@font-face {
    font-family: questrial;
    src: url(Questrial-Regular.otf);
}

.App div{
  background-color: #cccccc;
  padding: 20px;
  margin: 20px;
}
.App div h1{
  font-size: 1.5vw;
  font-family: josefin;
}
.App div h6{
  font-family: caviar;
  font-size: 2vw;
  margin: 10px 0 10px 0;
}

#header{
  text-align:center;
  font-size: 3vw;
  font-family: questrial;
}
#btnSubmit{
  display: flex;
  justify-content: center;
}
#btnSubmit button{
  height: 50px;
  font-size: 15px;
  background-color: white;
  cursor: pointer;
  border: 0px solid black;
  border-radius: 1vw;
  box-shadow: 10px 10px 5px #aaaaaa;
}